.rodape {
  background: #333;
  color:#fff;
  text-align: center;
  padding: 20px 0;
}

.conteudo {
  padding:20px;
}

.struct-panel {
	height: 600px;
}

.panel-structure {
	height: 570px;
	overflow: auto;
	border-right: solid 1px #bce8f1;	
}